---
import { smartquotes } from "../helpers/helpers.ts";

type Props = {
  originalSongId: string;
  originalSongName: string;
  originalSongArtist: string;
  originalAlbumImg: string;
  originalAlbumName: string;
  coverSongId: string;
  coverSongArtist: string;
  coverAlbumImg: string;
  coverAlbumName: string;
  slug: string;
};

const {
  originalSongName,
  originalSongArtist,
  originalAlbumImg,
  originalAlbumName,
  coverSongArtist,
  coverAlbumImg,
  coverAlbumName,
  slug,
} = Astro.props;

const title = smartquotes(originalSongName);
---

<div class="cover-card">
  <div class="albums">
    <div class="album">
      {
        originalAlbumImg && (
          <img src={originalAlbumImg} alt={`${originalAlbumName} album art`} />
        )
      }
    </div>
    <div class="album">
      {
        coverAlbumImg && (
          <img src={coverAlbumImg} alt={`${coverAlbumName} album art`} />
        )
      }
    </div>
  </div>
  <div class="content">
    <h2 class="title">
      {title}
    </h2>
    <div class="artist">
      <strong>{coverSongArtist}</strong> covering <strong
        >{originalSongArtist}</strong
      >
    </div>
    <a
      class="link"
      href={`/cover/${slug}`}
      aria-label={`More about ${originalSongName}`}></a>
  </div>
</div>

<style lang="scss">
  .cover-card {
    position: relative;
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: var(--space-2xl);
    text-align: center;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .album {
          transform: rotate(0) translateX(0);
        }

        .title {
          background: linear-gradient(to right, var(--violet-9), var(--red-9));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .albums {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-m);
  }

  .album {
    background-color: var(--mauve-3);
    border-radius: var(--radius-xs);
    overflow: hidden;
    aspect-ratio: 1;
    transition: transform 0.2s ease-in-out;
    // https://shadows.brumm.af/
    box-shadow:
      0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
      0px 4px 5.3px rgba(0, 0, 0, 0.028),
      0px 7.5px 10px rgba(0, 0, 0, 0.035),
      0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
      0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
      0px 60px 80px rgba(0, 0, 0, 0.07);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:first-child {
      width: 40%;
      transform: rotate(-10deg) translateX(10%);
      transform-origin: 100% 0;
    }

    &:last-child {
      width: 60%;
      transform: rotate(6deg) translateX(-10%);
      transform-origin: 0 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .title,
  .artist {
    text-wrap: balance;
    transition: color 0.2s ease;
  }

  .title {
    font-size: var(--step-2);
  }

  .artist {
    color: var(--mauve-11);
  }

  .link {
    position: absolute;
    inset: 0;
  }
</style>
