---
import "../styles/reset.css";
import "../styles/theme.css";
import "../styles/base.css";

import { ViewTransitions } from "astro:transitions";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#FEFCFB" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="icon" href="/favicon.svg?v=3" type="image/svg+xml" />
    <link
      rel="icon"
      href="/favicon-light.png"
      type="image/png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.png"
      type="image/png"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="canonical" href={canonicalURL} />
    <meta
      name="description"
      content={description ??
        "Some covers deliver the age-old simple pleasures of drag."}
    />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Genderswap.fm" />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:image:alt" content="The Genderswap.fm logo" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href="https://use.typekit.net/hjc0gsm.css" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body transition:animate="none">
    <script is:inline src="/scripts/preloadTheme.js"></script>
    <Header />
    <main class="main" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style>
      .main {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
