---
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagCloud from "../../components/TagCloud.astro";
import { TAGS } from "../../types/tags";
import { type Enums } from "../../types/types";
import Tag from "../../components/Tag.astro";

const tags = Object.keys(TAGS) as Enums<"tags">[];

const title = "Explore by tag";
const description = "Find covers that are…";
---

<BaseLayout
  title={`${title} on Genderswap.fm`}
  description="Find covers that are slower (or faster), happier (or sadder), more danceable (or less), or other things."
>
  <PageHeader title={title} description={description} />
  <div class="tags">
    <TagCloud>
      {
        tags.map((tag) => (
          <Tag text={TAGS[tag].label} url={`/tagged/${TAGS[tag].slug}`} />
        ))
      }
    </TagCloud>
  </div>
</BaseLayout>

<style>
  .tags {
    margin-inline: auto;
    padding-inline: var(--space-xl);
    max-width: 60ch;
    padding-block-end: var(--space-3xl);
  }
</style>
